<a href="{{ path('category', {'name': category.label}) }}" class="relative flex flex-row items-center justify-center rounded-xl overflow-hidden aspect-square border hover:scale-105 cursor-pointer transition hover:bg-gray-100">
    <span class="text-red-600 font-bold mr-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-8">
            {{ category.icon|raw }}
        </svg>
    </span>
    <span class="font-medium text-3xl truncate">{{ category.name }}</span>
</a>